<!DOCTYPE html>
<html lang="en" id="bg-image">
  <head>
    <!-- Head -->
    {% block head %} {% endblock head %}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/base.css') }}"
    />
    <!-- Styles -->
    {% block style %} {% endblock style %}
  </head>

  <div class="navbar">
    <a class="navbar-item" href="{{ url_for('fill_input') }}" title="Input">
      Home
    </a>
    <a class="navbar-item" href="{{ url_for('result') }}" title="Result">
      Result
    </a>
  </div>

  <div class="container">
    <!-- ======= Content ======= -->
    {% block content %} {% endblock content %}
  </div>
  <footer>
    <div class="footer">
      &copy; 2021 <a href="https://github.com/hokkyss">Hokki Suwanda</a>
    </div>
  </footer>
  <!-- Script -->
  {% block script %} {% endblock script %}
</html>
