.top {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 0.5%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
}

input:hover {
  border: 2px solid black;
  background-color: lightgrey;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-radius: 10px;
}

th,
td {
  padding: 8px;
  text-align: left;
  min-width: 30px;
  max-width: 216px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}

th {
  background-color: grey;
}

td {
  background-color: white;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 100%;
}

.middle-left {
  margin-right: 1.25%;
}

.middle-right {
  margin-left: 1.25%;
}
